td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.selected {
    outline: 4px solid black;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 10px;
}

table.paint td {
    border: 2px black solid;
    border-style: dotted;
}