button{
    width: 20px;
    height: 20px;
    padding: 0px;
    cursor: pointer;
    background-size: 100% 100%;

}

#edit {
    background-image: url("pen.png");
}

#del {
    background-image: url("del.png");
}

div {
    background-color: gray;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
}