.head {
    display: flex;
    justify-content: space-between;
}

.head, .content {
    border: 1px solid black;
}

.paragraph {
    margin-bottom: 10px;
}

label, input, textarea, button {
    width: 100%;
}