.block {
    width: 200px;
    height: 50px;
    rotate: 0;
    margin: 5px;
    background-color: lightseagreen;
}

.inline, .block {
    display: inline-block;
}

#width-info, #height-info, #rotate-info {
    border: 1px solid black;
    padding: 3px;
}

div {
    margin-bottom: 5px;
}