table {
    border-collapse: collapse;
}

tr, th {
    padding: 20px;
}

th {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}

table {
    display: flex;
    justify-content: center;
}

.test {
    background-color: yellow;
}