.matrix td {
    border: 1px black solid;
    width: 40px;
    height: 40px;
}

.form td {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    width: 80px;
}