table {
    width: 35%;
    margin-top: 25px;
}

table,
th,
td {
    border: 1px solid #000000;
    margin-bottom: 50px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

input {
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    margin-bottom: 20px;
}

body{
    position: relative;
    top: 35%;
    left: 35%;
    
}